<html lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>CLUBZ List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">CLUBZ</h1>
                <h3 class="fw-bolder">Meet New People, Find New Things, Try New Experiences, Join a CLUB</h3>
                <p class="lead fw-normal text-muted mb-0">Trending, New, Underground</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form  th:action="@{/clubs/search}" class="form-inline my-2 my-lg-0 mb-3">
                        <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search CLUBZ" aria-label="Search">
                    </form>
                </div>
                <!-- Clubs -->
                <div th:each="club : ${clubs}" class="col-lg-6 mb-2">
                    <div class="card mb-3">
                        <div class="card-img-top" style="height: 300px; overflow: hidden;">
                            <img class="img-fluid h-100 w-100 rounded-3" th:src="${club.photoUrl}" alt="..." style="object-fit:cover;" />
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" th:text="${club.title}">Club name</h3>
                            <p class="card-text" th:text="${club.content}">Club content</p>
                            <a class="btn btn-info" th:href="@{/clubs/{clubId}(clubId=${club.id})}">View</a>
                            <a class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">Edit Club</a>
                        </div>
                    </div>
                </div>
                <!-- Clubs -->
            </div>
        </div>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <h2 class="display-4 fw-bolder">Tons of clubz, Join us o create your Own</h2>
                <a class="btn btn-lg btn-primary" href="#!">See all CLUBZ</a>
                <a class="btn btn-lg btn-primary" th:href="@{clubs/new}">Creat your Own CLUB</a>
            </div>
        </section>
    </section>
</main>
</body>
</html>
