<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit CLUB</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Edit CLUB</h1>
                <p class="lead fw-normal text-muted mb-0">Change the information of a CLUB</p>
            </div>
            <form role="form" method="post" th:action="@{/clubs/{clubId}/edit(clubId=${club.id})}" th:object="${club}">
                <input type="hidden" th:field="*{id}" >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:field="*{title}"
                               placeholder="Title for your Club">
                        <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="photoUrl">Url of Photo</label>
                        <input type="text"
                               class="form-control"
                               id="photoUrl"
                               name="photoUrl"
                               th:field="*{photoUrl}"
                               placeholder="URL for the photo of your club">
                        <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="Content">Content</label>
                    <input type="text"
                           class="form-control"
                           id="content"
                           name="content"
                           th:field="*{content}"
                           placeholder="A brief description of your club">
                    <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>