<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>User Registration</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div th:if="${param.success}" class="alert alert-success">
            Youre register suceessfully!
        </div>
        <div class="col-md-6 col-m-12">
            <div class="login-form">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                    <div class="form-group">
                        <label>Username</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Username"
                            th:field="*{username}">
                    </div>
                    <p th:if="${#fields.hasErrors('username')}" class="text-danger"></p>
                    <div class="form-group">
                        <label>Email</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Email"
                            th:field="*{email}">
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger"></p>
                    <div class="form-group">
                        <label>Password</label>
                        <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            th:field="*{password}">
                    </div>
                    <p th:if="${#fields.hasErrors('password')}" class="text-danger"></p>
                    <button th:ref="@{/login}" type="submit" class="btn btn-black">Login</button>
                    <button type="submit" class="btn btn-secondary">Register</button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>